<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <!-- 导入jdbc.properties,测试使用 -->
	<!-- <properties resource="jdbc.properties"></properties> -->
	<settings>
	    <setting name="cacheEnabled" value="true"/>
	</settings>
	
	<!-- <environments default="development">
	 <environment id="development">
		<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
			   <property name="driver" value="${driver}"/>
			   <property name="url" value="${url}"/>
			   <property name="username" value="${user}"/>
			   <property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments> 
	<mappers> 
	    <mapper resource="exmvc/mapper/DishesDao.xml"/> 
	    <mapper resource="exmvc/mapper/OrdersDao.xml"/> 
	    <mapper resource="exmvc/mapper/CartDao.xml"/> 
	    <mapper resource="exmvc/mapper/OrderDetailsDao.xml"/> 
	    <mapper resource="exmvc/mapper/UsersDao.xml"/> 
	</mappers> -->
</configuration>



 